[submodule "luci-app-netspeedtest"]
	path = luci-app-netspeedtest
	url = https://github.com/muink/luci-app-netspeedtest.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/sbwml/luci-theme-argon.git
[submodule "autocore-arm"]
	path = autocore-arm
	url = https://github.com/sbwml/autocore-arm.git
